section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-sign{
    width: 100%;
    display: flex;
    padding: 50px;
}

.subcontainer{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    margin: 30px;
    border-radius: 10px;
    
}