header{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;

    .logo-container {
        height: 100%;
        width: 70px;
        padding: 25px;
      }
    
    .nav-links-container {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 10px;
        
    
        .nav-link {
          padding: 10px 15px;
          cursor: pointer;
        }
      }
    
}