body{
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smooting:antialiased;

  background: linear-gradient(to right, rgb(77, 95, 146) 0%,rgba(0,128,128,1) 100%);
  text-align: center;
}


.container-input{
  padding-top: 30px;
  margin-top: 30px;
}

.app-title{
  margin-top: 55px;
  font-size: 76px;
  text-transform: uppercase;
  color:aqua;
}