.container-sign{
    width: 20rem;
    padding: 30p;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    form > div{

        margin: 2rem;
    }
  
}